<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body titulo">
                    <h3>Tarjeta credito</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">AGREGAR TARJETAS</h3>
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-user"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="titular">
                      </div>
                      <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-credit-card"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="numero de tarjeta">
                      </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="input-group input-group-lg mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fas fa-calendar"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="MM/YY">
                              </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group input-group-lg mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fas fa-key"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="cvv">
                              </div>
                        </div>
                    </div>  
                    <div class="d-grid grap-2">
                        <button class="btn btn-success btn-lg">
                            <i class="fas fa-database"></i>&nbsp;
                            AGREGAR</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">LISTADO DE TARJETAS</h3>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let tarjeta of lista_tarjetas">
                                <td>{{tarjeta.titular}}</td>
                                <td>{{tarjeta.numero_tarjeta}}</td>
                                <td>{{tarjeta.fecha_expiracion}}</td>
                                <td><i class="far fa-edit text-info"></i></td>
                                <td><i class="far fa-trash-alt text-danger"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>